@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;800&display=swap");

:root {
  --ff-primary: "Nunito Sans";
  --fw-100: 300;
  --fw-200: 600;
  --fw-300: 800;
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#root {
  min-height: 100svh;
  font-family: var(--ff-primary);
}

button {
  outline: 0 solid transparent;
  border: 0 solid transparent;
}

input {
  font-family: inherit;
  color: inherit;
  border: 0 solid transparent;
  outline: 0 solid transparent;
}
a {
  text-decoration: none;
}

/*-------------------  */
/*-- Utility classes-- */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  clip-path: circle(0);
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.capitalize {
  text-transform: capitalize;
}

.place-self-center {
  place-self: center;
}

.text-align-center {
  text-align: center;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

/* ----Component Styling ---*/

/* Top section Stuffs*/
.navbar {
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar__theme-toggler {
  background-color: transparent;
}

.navbar__theme-toggler {
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

/* ------Navigation Area---- */
.main__navigation {
  justify-content: space-between;
  margin-block-end: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.navigation__input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
}

.navigation__filterbox {
  max-width: 12rem;
  border-radius: 5px;
  align-items: center;
  padding-inline-end: 1rem;
  z-index: 1;
}

.navigation__searchbar {
  max-width: 20rem;
  border-radius: 5px;
}

.navigation__datalist {
  top: 100%;
  display: none;
  font-size: 0.9rem;
  padding: 1em 2em;
  width: 100%;
  border-radius: 5px;
  transform: translateY(5%);
  flex-direction: column;
  gap: 0.5rem;
}

.navigation__option {
  cursor: pointer;
}

/* ---------------- */

.main {
  padding: 2rem 3rem;
}

/*--- Card Styling ---*/
.container-card {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  place-items: center;
}

.card {
  border-radius: 5px;
  max-width: 15rem;
  aspect-ratio: 0.8 / 1;
  transition: transform;
  transition-duration: 1000ms;
}

.card:hover {
  transform: scale(1.05);
}

.card__section {
  width: 100%;
}

.container-flag {
  height: 50%;
}

.container-flag img {
  width: 100%;
  aspect-ratio: 1 /0.6;
  object-fit: cover;
}

.card__caption {
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.card__country-information {
  gap: 0.2rem;
  flex-direction: column;
}

/* Country Page */

.main--country__card {
  margin-top: 4rem;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .main--country__card {
    grid-template-columns: 1fr;
    max-width: 40rem;
    place-self: center;
  }

  .main--country__info {
    flex-direction: column;
    gap: 3rem;
  }
}

.main--country__caption {
  flex-direction: column;
  padding-block: 2rem;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  line-height: 2rem;
}

.main--country__info {
  justify-content: space-between;
}

.navigation__searchbar {
  align-items: center;
  padding-inline: 2rem;
}

.main__back-button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.main--country__back-button {
  cursor: pointer;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.main--country__info-footer {
  gap: 1rem;
  align-items: center;
}

.main--country__border-countries {
  gap: 1rem;
  flex-wrap: wrap;
}

.main--country__border-country {
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.main--country__container-flag {
  width: 100%;
}

.main--country__container-flag img {
  width: 100%;
  aspect-ratio: 1 / 0.6;
  object-fit: cover;
}
